# Compiled class files
*.class

# Log files
*.log

# Directories for local storage
/.idea/
/target/
/out/
/bin/

# Maven dependencies
/.m2/

 

# Eclipse project files
.project
.classpath
.settings/

 
# OS-specific files
.DS_Store
Thumbs.db

# JAR files
*.jar
